@model Aplicacion.Models.Curso

@{
    ViewData["Title"] = "Delete";
}

<br />

<div class="text-center">
    <h2>Eliminar Curso</h2>
</div>

    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TituloObtenido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TituloObtenido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaTermino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaTermino)
        </dd>
    </dl>
    
    <div class="col-md-offset-2 col-md-10">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-warning">Volver</a>
        </form>
</div>

